<h3>{% trans %}Salut ! Veuillez confirmer votre adresse e-mail{% endtrans %}</h3>

<p>
    {% endtrans %}Merci de confirmer votre adresse e-mail en cliquant sur le lien suivant{% endtrans %} : <br><br>
    <a href="{{ signedUrl }}">{% trans %}Confirmer mon adresse e-mail{% endtrans %}</a>.
    {% trans %}Le lien expirera dans{% endtrans %} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {% trans %}Cordialement{% endtrans %}
</p>
