@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444;
}

.blog-body {
    text-align: justify;
    font-size: 0.85rem;
}

.blog-title {
    text-align: justify;
}

footer a {
    text-decoration: none;
    color: #444;
}

.comment-reply {
    margin-left: 30px;
    padding-left: 15px;
    border-left: 0.3rem solid #32a1ce;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px 15px 10px 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.header-logo {
    max-width: 30px;
    width: 100%;
}

.article-tag {
    font-size:0.85rem;
}

.home-article-tag {
    font-size: 0.8rem;
}

.site-version {
    font-size: 11px;
}

.footer-copy {
    font-size: 12px;
}

.card-text-footer {
    font-size: 11px;
}