{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modifier la catégorie{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Modifier la catégorie{% endtrans %}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">{% trans %}Liste des catégories{% endtrans %}</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
