{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {% trans %}Modifier la catégorie{% endtrans %}{% endblock %}

{% block body %}
    <h2>{% trans %}Modifier la catégorie{% endtrans %}</h2>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
