{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {% trans %}Créer une nouvelle catégorie{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Créer une nouvelle catégorie{% endtrans %}</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
