{{ form_start(form) }}
    <div class="input-group input-group-sm">
        {{ form_row(form.query) }}
        <button type="submit" class="ms-1 btn btn-primary rounded"><i class="fas fa-search"></i></button>
    </div>
{{ form_end(form) }}