<form method="post" action="{{ path('tag_delete', {'slug': tag.slug}) }}" onsubmit="return confirm('Etes-vous certain(e) de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="btn btn-sm btn-danger">{% trans %}Supprimer{% endtrans %}</button>
</form>
