{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des tags{% endtrans %}{% endblock %}

{% block body %}
    <h2>{% trans %}Liste des tags{% endtrans %}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Titre{% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.title }}</td>
                <td>
                    <a href="{{ path('tag_show', {'slug': tag.slug}) }}">{% trans %}Voir{% endtrans %}</a>
                    <a href="{{ path('tag_edit', {'slug': tag.slug}) }}">{% trans %}Modifier{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}Il n'y aucun enregistrement.{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
