{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {% trans %}Créer un nouveau tag{% endtrans %}{% endblock %}

{% block body %}
    <h2>{% trans %}Créer un nouveau tag{% endtrans %}</h2>

    {{ include('tag/_form.html.twig') }}

{% endblock %}
