{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {% trans %}Créer un nouveau tag{% endtrans %}{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{% trans %}Créer un nouveau tag{% endtrans %}</h2>

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin index</a></li>
                <li class="breadcrumb-item active" aria-current="page">Créer un nouveau tag</li>
            </ol>
        </nav>
    </div>

    {{ include('tag/_form.html.twig') }}

{% endblock %}
