<form method="post" action="{{ path('article_delete', {'slug': article.slug}) }}" onsubmit="return confirm('Etes-vous certain(e) de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-sm btn-danger">{% trans %}Supprimer{% endtrans %}</button>
</form>
