{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - {% trans %}Créer un nouvel article{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{% trans %}Créer un nouvel article{% endtrans %}</h2>

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin index</a></li>
                <li class="breadcrumb-item active" aria-current="page">Créer un nouvel article</li>
            </ol>
        </nav>
    </div>

    {{ include('article/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(function(){
            $('.select-tags').select2({
                tags: true,
                tokenSeparators: [',', ' ']
            }).on('change', function(e){
                let label = $(this).find("[data-select2-tag=true]")
                if(label.length && $.inArray(label.val(), $(this).val() !== -1)){
                    $.ajax({
                        url: "/admin/tag/new/ajax/" + label.val(),
                        type: "POST"
                    }).done(function(data){
                        label.replaceWith(`<option selected value="${data.id}">${label.val()}</option>`);
                    })
                }
            });
        })
    </script>
{% endblock %}