{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h2>Modifier votre profil</h2>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
